<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Admin Dashboard</title>
</head>
<body>
<div align="center">
  <marquee behavior="alternate" bgcolor="green">
    <h1>Welcome Admin</h1>
  </marquee>

  <a th:href="@{/DoctorDetails}">Doctors List</a>
  ||
  <a th:href="@{/PatientDetails}">Patient List</a>
  ||
  <a th:href="@{/addClinicDetails}">Add Clinic Details</a>
  ||
  <a th:href="@{/techincalissues}">View Technical Issues</a>
  ||
  <a th:href="@{/}">Logout</a>
</div>
</body>
</html>
