<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of Doctors</title>
</head>
<body>
<div align="center">
    <h3>List Of Doctors</h3>
    <a th:href="@{/userlogin}">Add User Detail</a>
    <hr>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Mobile Number</th>
            <th>User ID</th>
            <th>Password</th>
            <th>Email</th>
            <th>Category</th>
        </tr>
        <tr th:each="doctor : ${userlist}">
            <td th:text="${doctor.idd}"></td>
            <td th:text="${doctor.first_name}"></td>
            <td th:text="${doctor.last_name}"></td>
            <td th:text="${doctor.dob}"></td>
            <td th:text="${doctor.gender}"></td>
            <td th:text="${doctor.contact_number}"></td>
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.password}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.category}"></td>
        </tr>
    </table>
    <a th:href="@{/}">Logout</a>
</div>
</body>
</html>
