<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <script type="text/javascript">
    function regValidate() {
        var first_name = document.forms["useRegForm"]["first_name"];
        var last_name = document.forms["useRegForm"]["last_name"];
        var contact_number = document.forms["useRegForm"]["contact_number"];
        var dob = document.forms["useRegForm"]["dob"];
        var gender =  document.forms["useRegForm"]["gender"];
        var user_name =  document.forms["useRegForm"]["user_name"];
        var password = document.forms["useRegForm"]["password"];
        var email = document.forms["useRegForm"]["email"];
        var category = document.forms["useRegForm"]["category"];

        if (first_name.value == "") {
            window.alert("Please enter first name.");
            first_name.focus();
            return false;
        }
        if (last_name.value == "") {
            window.alert("Please enter last name.");
            last_name.focus();
            return false;
        }
        if(contact_number.value.length != 10) {
            window.alert("Please enter 10 digit mobile number.");
            contact_number.focus();
            return false;
        }
        if (dob.value == "") {
            window.alert("Please enter your date of birth.");
            dob.focus();
            return false;
        }
        var x = document.useRegForm.email.value;
        var atposition = x.indexOf("@");
        var dotposition = x.lastIndexOf(".");
        if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= x.length) {
            alert("Please enter a valid e-mail address \n atposition:" + atposition + "\n dotposition:" + dotposition);
            email.focus();
            return false;
        }

        if (user_name.value == "") {
            window.alert("Please enter your username");
            user_name.focus();
            return false;
        }
        if (password.value == "") {
            window.alert("Please enter your password");
            password.focus();
            return false;
        }
        if (gender.value == " ") {
            window.alert("Please enter your gender");
            gender.focus();
            return false;
        }
        if (category.value == " ") {
            window.alert("Please enter your category");
            category.focus();
            return false;
        }
    }
  </script>
  <style type="text/css">
    input:focus {
        background-color: rgb(204, 255, 255);
    }
    body {
        background-repeat: no-repeat;
        background-size: 100% 150%;
    }
    .table {
        padding: 20px;
    }
    .success {background-color: #4CAF50;} /* Green */
    .success:hover {background-color: #46a049;}
    .warning {background-color: #ff9800;} /* Orange */
    .warning:hover {background: #e68a00;}
    .btn {
        border: 2px solid black;
        background-color: white;
        color: black;
        padding: 5px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    .box {
        background-color: RGB(243, 233, 232);
        border: 2px black;
        padding: 30px 20px;
        margin-left: 60%;
        margin-right: 10%;
        margin-top: 5%;
        border-radius: 50px 20px;
    }
  </style>
  <title>User Registration</title>
</head>
<body>
<div align="center">
  <marquee behavior="alternate" bgcolor="green"><h1>Welcome to Registration page</h1></marquee>
  <form th:action="@{/addUserDetail1}" method="post" name="useRegForm" onsubmit="return regValidate()">
    <div class="box">
      <div class="input-container">
        <i class="fa fa-user icon"></i>
        <label for="first_name">First Name: </label>
        <input type="text" id="first_name" name="first_name" pattern="^[A-Za-z]+$" title="It must contain only alphabets" th:value="${username.first_name}" /><br><br>
        <span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" class="error"></span><br><br>
      </div>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" pattern="^[A-Za-z]+$" title="It must contain only alphabets" th:value="${username.last_name}" /><br><br>
      <span th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}" class="error"></span><br><br>

      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="dob" th:value="${username.dob}" /><br><br>

      <label for="gender">Gender:</label>
      <label>Male</label>
      <input type="radio" id="male" name="gender" value="Male" th:checked="${username.gender == 'Male'}" />
      <label>Female</label>
      <input type="radio" id="female" name="gender" value="Female" th:checked="${username.gender == 'Female'}" /><br><br>
      <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" class="error"></span><br><br>

      <label for="contact_number">Mobile Number:</label>
      <input type="text" id="contact_number" name="contact_number" pattern="[6-9]{1}[0-9]{9}" title="It must contain 10 digits starting with 6 to 9" th:value="${username.contact_number}" /><br><br>
      <span th:if="${#fields.hasErrors('contact_number')}" th:errors="*{contact_number}" class="error"></span><br><br>

      <label for="id">User ID:</label>
      <input type="text" id="id" name="id" pattern="^[0-9]+$" title="It must contain only digits" th:value="${username.id}" /><br><br>
      <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="error"></span><br><br>

      <div class="input-container">
        <i class="fa fa-key icon"></i>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:value="${username.password}" /><br><br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span><br><br>
      </div>

      <div class="input-container">
        <i class="fa fa-envelope icon"></i>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" pattern="\w+(\.-)?(\w+(\.-)?)*@[a-zA-Z]+\.[a-zA-Z]{2,3}" title="Format Ex: xyz@gmail.com" th:value="${username.email}" /><br><br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span><br><br>
      </div>

      <label for="category">Category:</label>
      <label>Doctor</label>
      <input type="radio" id="doctor" name="category" value="doctor" th:checked="${username.category == 'doctor'}" />
      <label>Patient</label>
      <input type="radio" id="patient" name="category" value="patient" th:checked="${username.category == 'patient'}" /><br><br>
      <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="error"></span><br><br>

      <input type="submit" class="btn success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn warning"><a href="/">Back</a></button>
    </div>
  </form>
</div>
</body>
</html>
